.pffwc-wrapper {
	display: inline-block;
}

.pffwc-wrapper {
	width: 100%;
}

.pffwc-item {
  display: inline-flex;
	margin-right: 2%;
	float: left;
	max-width: 16.5%;
	width: 100%;
}

.pffwc-tooltip {
    display: inline-block;
    position: relative;
}

.pffwc-tooltip:hover:before {
    background: #333;
    border-radius: 5px;
		bottom: 100%;
    color: #fff;
    /* content: attr(data-tooltip); */
		font-size: inherit;
    left: -92px;
    padding: 5px 15px;
    position: absolute;
		width: 220px;
    z-index: 98;
}
